about-time==4.2.1
absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1769637056219/work
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_aiofiles_1767290524/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1774999676231/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
alive-progress==3.3.0
annotated-doc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_annotated-doc_1762868213/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1774359453/work
appnope==0.1.4
-e git+https://github.com/lanl/Architector.git@9594cdb05930a7d203fd6837f93a1bf9aacfbe07#egg=architector
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
ase @ file:///home/conda/feedstock_root/build_artifacts/ase_1774510602942/work
ase_db_backends @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ase-db-backends_1777544569/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
async-lru==2.3.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
autograd==1.8.0
babel==2.18.0
backports.zstd @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_backports.zstd_1767045000/work
beautifulsoup4==4.14.3
bibtexparser==1.4.4
bleach==6.3.0
bokeh==3.9.0
Bottleneck==1.6.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
cairocffi==1.7.1
CairoSVG==2.9.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1776866578774/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761202952988/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1777219902/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
clusterscope @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_clusterscope_1759294080/work
cma==4.4.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.3
contourpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_contourpy_1769156157/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1777106274044/work
cssselect2==0.9.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
dask==2026.3.0
debugpy==1.8.20
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1768934076236/work
distributed==2026.3.0
e3nn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_e3nn_1777474663/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fairchem-core==2.1.0
fastjsonschema==2.21.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1776621385265/work
FLAML==2.6.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1776708245347/work
fqdn==1.5.1
freetype-py==2.5.1
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1752167256313/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1777547723461/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1777461643270/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1773245168083/work
graphemeu==0.7.2
greenlet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_greenlet_1777329142/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1759611722472/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hf-xet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_hf-xet_1775006423/work/hf_xet
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1777560834345/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1736934708722/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1776947141/work
ImageIO==2.37.3
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1773931568/work
ipykernel==7.2.0
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1777038396/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets==8.1.8
isoduration==20.11.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
json5==0.14.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1773067215/work
lark==1.3.1
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_lightgbm_1768022071/work
llvmlite==0.47.0
lmdb @ file:///Users/runner/miniforge3/conda-bld/python-lmdb_1736585129988/work
locket==1.0.0
lxml==6.1.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown_1770694658/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1772445233284/work
matplotlib==3.10.9
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mendeleev @ file:///home/conda/feedstock_root/build_artifacts/mendeleev_1749609031042/work
-e git+https://github.com/tonioeltopoquegira/minervachem.git@f6e48c2cb22e0d64343cbe62b05630820327bd80#egg=minervachem
mistune==3.2.0
monty @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_monty_1777293376/work
moocore==0.2.0
mpi4py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_mpi4py_1771831001/work
mpmath==1.3.0
msgpack==1.1.2
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1771610766727/work
munkres==1.1.4
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
narwhals==2.20.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
notebook_shim==0.2.4
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1777027952098/work
numexpr==2.14.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1747544633476/work/dist/numpy-2.2.6-cp312-cp312-macosx_11_0_arm64.whl#sha256=5634b9cb7e1849622c51a7919f4e10f2d86243ebdc74db092017d83f584b2ffe
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
opt_einsum_fx @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_fx_1734789113902/work
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1771868230887/work
orjson @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_orjson_1774994152/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
palettable==3.3.3
pandas==2.3.3
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
partd==1.4.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1775060469/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1775741140/work
plotly==6.7.0
prometheus_client==0.25.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1744525013305/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1760392712778/work/bazel-bin/python/dist/protobuf-6.31.1-cp312-abi3-macosx_11_0_arm64.whl#sha256=df9326d16ce0c89089483d0aeed08d34285675e7b1e4f28fd0dfbbbe1507a0a2
psutil @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_psutil_1769678393/work
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1763596055085/work
psycopg2-binary @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1750255432256/work/psycopg2-binary
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py3Dmol @ file:///home/conda/feedstock_root/build_artifacts/py3dmol_1769417194951/work
pybind11 @ file:///D:/bld/pybind11-split_1747934313674/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1747934270866/work
pycairo==1.29.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1776728341/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1776704483/work
pyfiglet==0.8.post1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pymatgen==2026.3.23
pymatgen-core==2026.4.16
pymoo==0.6.1.6
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pymysql_1777635498/work
pynauty @ file:///Users/runner/miniforge3/conda-bld/pynauty_1756355024998/work
pynndescent==0.6.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyre-extensions @ file:///home/conda/feedstock_root/build_artifacts/pyre-extensions_1734755991108/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-json-logger==4.1.0
pytz==2026.1.post1
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1770223459631/work
pyzmq==27.1.0
rdkit==2026.3.1
referencing==0.37.0
reportlab==4.5.0
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1777030058/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rlPyCairo==0.4.0
rpds-py==0.30.0
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruamel.yaml_1767538149/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ruamel.yaml.clib_1766159558/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_scikit-learn_1766550900/work/dist/scikit_learn-1.8.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=2c2174cc3c50881558f40985f4bce6b2bfa26bb7c2c218117b7826e25e234a6d
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1771879268266/work/dist/scipy-1.17.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=2a58ef7f13308c8e4b5dba4897a92c7df6c80d681c6a2a8661b6a0ca68eca564
seaborn==0.13.2
Send2Trash==2.1.0
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1776112446613/work
setuptools==73.0.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
sigfig==1.3.19
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1775586922960/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
sortedcontainers==2.4.0
soupsieve==2.8.3
sparse==0.18.0
spglib==2.7.0
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_sqlalchemy_1775241400/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
submitit @ file:///home/conda/feedstock_root/build_artifacts/submitit_1766066669134/work
svglib==1.6.0
sympy==1.13.1
tabulate @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tabulate_1772732795/work
tblib==3.2.2
tblite @ file:///Users/runner/miniforge3/conda-bld/tblite-python_1732277357846/work/tblite-0.4.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=871d4cc96ed59508dbf3cfbe03787c0eb91a8aaabfa44fa20a0e26fc10097253
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tensorboard_1752825441/work/tensorboard-2.20.0-py3-none-any.whl#sha256=9dc9f978cb84c0723acf9a345d96c184f0293d18f166bb8d59ee098e6cfaaba6
tensorboard_data_server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1764929592593/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=5b8bf8b102271e28369f271a059aa5b54eed7fcda4f304d974a16f93fb65fbe0
terminado==0.18.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2==1.4.0
toolz==1.1.0
torch==2.6.0
torchsnapshot @ file:///home/conda/feedstock_root/build_artifacts/torchsnapshot_1735566975496/work
torchtnt @ file:///home/conda/feedstock_root/build_artifacts/torchtnt_1737034756307/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1774358120346/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typer_1777583624/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing-inspection_1777105465/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typing_inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1733845867367/work
tzdata==2026.2
umap-learn==0.5.12
uncertainties==3.2.3
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1770909247161/work
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
wandb @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_wandb_1777056299/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1777744409267/work
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_websockets_1768087403/work/dist
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1775160081/work
wheel==0.47.0
widgetsnbextension==4.0.15
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1772794859695/work
xgboost==3.2.0
xyzservices==2026.3.0
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1772409353840/work
zict==3.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1776131454/work
